<!doctype html>
<html class="no-js" ng-app="subApp">

<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="271653534564-0asfvep3mc4s77o0g4dom3u80l0g6989.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>welcome</title>
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS BOOTSTRAP-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Optional theme BOOTSTRAP-->
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <!-- google css plugin -->
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/mui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ng-map,AngularJS,center">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <body>
        <!--    <img src="images/login_3.jpg" style="width:100%;height:100%;position:fixed;-webkit-filter: grayscale(100%);
filter: grayscale(100%);">
 -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">GameCrowd</a>
                </div>
                <ul class="nav navbar-nav " style="width:90%">
                    <li class="active"><a data-target="#submissions" aria-controls="submissions" role="tab" data-toggle="tab">Submissions</a></li>
                    <li><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li style="float:right"><a href="#" onclick="signOut();">Sign out</a>
                        <script>
                        function signOut() {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function() {
                                console.log('User signed out.');
                            });
                        }
                        </script>
                    </li>
                </ul>
        </nav>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="profile">
                <div class="col">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sheena Kristin A.Eschor</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table-stripped">
                                        <tbody>
                                            <tr>
                                                <td>Department:</td>
                                                <td>Programming</td>
                                            </tr>
                                            <tr>
                                                <td>Hire date:</td>
                                                <td>06/23/2013</td>
                                            </tr>
                                            <tr>
                                                <td>Date of Birth</td>
                                                <td>01/24/1988</td>
                                            </tr>
                                            <tr>
                                                <tr>
                                                    <td>Gender</td>
                                                    <td>Male</td>
                                                </tr>
                                                <tr>
                                                    <td>Home Address</td>
                                                    <td>Metro Manila,Philippines</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td><a href="mailto:info@support.com">info@support.com</a></td>
                                                </tr>
                                                <td>Phone Number</td>
                                                <td>123-4567-890(Landline)
                                                    <br>
                                                    <br>555-4567-890(Mobile)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                                <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="submissions" ng-controller="Sub_Ctrl">
                <div id="mydiv">
                    <img src="/images/loading.gif" class="ajax-loader" />
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="please type your search pattern here  ..." id="search_term" type="text" ng-keyup="search()" ng-model="searchText" class="validate">
                                <label for="search_term">Search</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xs-6" ng-repeat="sp in submissions_pos">
                        <div class="row">
                            <div class=" s12 m7">
                                <div class="card">
                                    <div class="card-image">
                                        <div class="col-xs-6">
                                            <div id="map_canvas">
                                                <ui-gmap-google-map center='sp.map.center' zoom='sp.map.zoom'>
                                                    <ui-gmap-marker coords="sp.marker.coords" options="sp.marker.options" idkey="sp.marker.id">
                                                    </ui-gmap-marker>
                                                </ui-gmap-google-map>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <img class="submissionImg" src="http://vmjacobsen39.informatik.tu-muenchen.de/{{sp.submission.points[0].pictures[0].filepath}}">
                                            <span class="card-title"></span>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">Submitted by {{sp.submission.user}}
                                        <i class="material-icons right comments">more_vert</i>
                                        </span>
                                        <p>
                                            <button ng-click="incLike(sp.submission.id)" class="like waves-effect waves-light btn float-right ">Like
                                                <span id="like-{{sp.submission.id}}" class="likes">{{sp.likes}}</span>
                                            </button>
                                            <button ng-click="incDislike(sp.submission.id)" class="dislike waves-effect waves-light btn float-right ">Dislike
                                                <span id="dislike-{{sp.submission.id}}" class="dislikes">{{sp.dislikes}}</span>
                                            </button>
                                            <div id="{{sp.submission.id}}" class="alert alert-success">
                                                <div ng-init='isRated(sp.submission.id)' star-rating rating="sp.rating" read-only="isRated(sp.submission.id)" max-rating="10" click="rate(param ,sp.submission.id)" "></div>
                                            <div> <span class="label label-primary ">Star Rating {{sp.rating}}                               Comments:{{sp.posts.length}}</span>
                                            </div>
                                        </div>
                                        <span class="new badge ">{{sp.submission.points[0].properties.tags.timestamp}}</span>
                                        &nbsp;
                                        <span class="new badge ">{{sp.submission.points[0].properties.tags.power_element_tags[0]}}</span>
                                    </p>
                                </div>
                                <div class="card-reveal ">
                                <span class="card-title grey-text text-darken-4 ">Comments<i class="material-icons right ">close</i></span>
                                    <div class="row ">
                                        <ul>
                                            <li ng-repeat="post in sp.posts ">
                                                <article class="row ">

                                                    <div class="col-md-12 col-sm-12 ">
                                                      <div class="panel panel-default arrow left ">
                                                        <div class="panel-body ">
                                                          <header class="text-left ">
                                                            <div class="comment-user "><i class="fa fa-user "></i>{{post.comment.user_name}}</div>
                                                            <time class="comment-date " datetime="16-12-2014 01:05 "><i class="fa fa-clock-o "></i> {{post.comment.updated | date:'dd/mm/yyyy HH:mm:ss '}}</time>
                                                          </header>
                                                          <div class="comment-post ">
                                                            <p>
                                                                {{post.comment.comment_string}}
                                                            </p>
                                                            <p>
                                                             <button ng-click="incLikePost(post.comment._id)" class="like waves-effect waves-light btn float-right ">Like
                                                                <span id="likePost-{{post.comment._id}}" class="likes ">{{post.likes_dislikes.likes}}</span>
                                                            </button>
                                                            <button ng-click="incDislikePost(post.comment._id)" class="dislike waves-effect waves-light btn float-right">Dislike
                                                                <span id="dislikePost-{{post.comment._id}}" class="dislikes ">{{post.likes_dislikes.dislikes}}</span>
                                                            </button>
                                                            </p>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="input-field col s12 ">
                                      <i class="material-icons prefix ">mode_edit</i>
                                        <input ng-model="comment " placeholder="Comment " id="icon_prefix{{sp.submission.id}} " class="materialize-input "></input>
                                    </div>
                                     <button ng-click="createPost(sp) " class=" col s12 btn waves-effect waves-light " type="submit " name="action ">Add Comment
                                        <i class="material-icons right">send</i>
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/jquery-1.9.1.js "></script>
<script src="/javascripts/jquery-ui.js "></script>
<script src="/javascripts/like-dislike.min.js "></script>
<!-- Latest compiled and minified JavaScript BOOTSTRAP -->
<script src="/javascripts/bootstrap.min.js "></script>
<script type="text/javascript " src="/javascripts/jquery.simple-dtpicker.js "></script>
<!-- Add angular js -->
<script src="/javascripts/angular.js "></script>
<script type="text/javascript " src="/javascripts/angular-local-storage.js "></script>
<script type="text/javascript " src="/javascripts/angular-animate.js "></script>
<script type="text/javascript " src="/javascripts/angular-route.js "></script>
<script type="text/javascript " src="/javascripts/angulargrid.min.js "></script>
<script src="/controllers/index_controller.js "></script>
<script src="/controllers/submission_controller.js "></script>
<script src="/controllers/userService.js "></script>
<!-- google js plugin -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDaDv7REa_5wJc0ad_ME_S4P1XYNzGF6Dk "></script>
<script href="/javascript/mui.min.js "></script>
<script type="text/javascript " src="https://mail.google.com/mail/u/0/?logout&hl=en " />
<script type="text/javascript " src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js "></script>
<script type="text/javascript " src="javascripts/materialize.min.js "></script>
<script type="text/javascript " src="javascripts/angular-google-maps.min.js "></script>
<script type="text/javascript " src="javascripts/angular-simple-logger.min.js "></script>
<script type="text/javascript " src="javascripts/lodash.min.js "></script>
</html>
